<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Quick Start Guide Example</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />

</head>
<body>
    <div id="map" style="width:800px; height: 600px"></div>

    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">

        var baseMap = L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
            maxZoom: 11,
            attribution: ''
            });

        var wmsLayer = L.tileLayer.wms("http://{{ host }}:5000/", {
            layers: '{{ layer }}',
            format: 'image/png',
            transparent: true,
            });

        var map = L.map('map', {
            center: new L.LatLng(-30.2, 135.0),
            zoom: 4,
            layers: [baseMap, wmsLayer],
            });

        var popup = L.popup();

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent(e.latlng.toString())
                .openOn(map);
        
            getSample(e.latlng);
        }

        map.on('click', onMapClick);

        function getSample(latlng) {
            var server = 'http://{{ host }}:5000/';
            var url = server + 'sample/{{ layer }}/' + latlng.lat + '/' + latlng.lng + '?callback=?';
            
            $.getJSON(url, function (data) {
		var content = latlng.toString();
		content += '<br/>Value: ' + data.sample.toFixed(2);
                popup.setContent(content);
                })

            }
        var baseLayers = {
            "Minimal": baseMap,
        };

        var overlays = {
            "{{ layer }}": wmsLayer
        };

        L.control.layers(baseLayers, overlays).addTo(map);

    </script>
</body>
</html>
